@import '~antd/es/style/themes/default.less';

@media (min-width: @screen-xl) {
  .home {
    .home_col {
      height: calc(50% - 8px);
    }

    :global {
      .ant-col-12 {
        height: 100%;
      }

      .ant-card {
        height: 100%;
      }

      .ant-card-body {
        height: calc(100% - 58px);
      }
    }
  }
}
